body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
h2{
	text-align: center;
}

nav {
	margin: 27px auto 0;
	font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
	position: relative;
	width: 590px;
	height: 50px;
	background-color: #ffffff;
	border-radius: 8px;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: black;
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 100px;
}
a:nth-child(3) {
	width: 110px;
}
a:nth-child(4) {
	width: 160px;
}
a:nth-child(5) {
	width: 120px;
}
nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0;
	background-color:#f6dbeb;
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
	background-color: #f1cae1;
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 110px;
	left: 200px;
	background-color: #ebb8d7;
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 160px;
	left: 310px;
	background-color: #e5a6cd;
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 120px;
	left: 470px;
	background-color: #df94c3;
}

body {
	font-size: 12px;
	font-family: sans-serif;
	background: #feebed;
}
h1 {
	text-align: center;
	margin: 40px 0 40px;
	text-align: center;
	font-size: 60px;
	color: #ecf0f1;
	text-shadow: 2px 2px 4px #000000;
	font-family: 'Cherry Swash', cursive;
}

p {
    
    bottom: 20px;
    width: 100%;
    text-align: center;
    color: black;
    font-family: 'Cherry Swash',cursive;
    font-size: 16px;
}

span {
    color: #2BD6B4;
}
header {
    background-color: #fbd8dc;
    color: #fff;
    padding: 0,5em;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #fbd8dc;
    color: #fff;
    text-align: center;
    padding: 0.10em;
    position: fixed;
    width: 15%;
    bottom: 0;
}
table {
      width: 90%;
      border-collapse: collapse;
      margin-bottom: 10px;
    }

    td, th {
      border: 1px solid #df94c3;
      text-align: left;
      padding: 13px;
    }

    tr:nth-child(odd) {
      background-color: #f2f2f2;
    }
	th[colspan="2"], td[colspan="2"] {
  text-align: center;
  }


   .container {
      display: flex;
      justify-content: space-between; 
      align-items: center;
    }

    .table-container {
      flex: 1; 
      margin-right: 0.5px; 
    }
image{
	text-align: left;
}
 